@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.container {
  height: 93vh;
  width: 100vw;
  margin-top: 0;
  position: relative;
  top: 0vh;
  display: flex;
  flex-direction: column;
  align-items: left;
}



.heading {
  animation: 1s ease-out 0s 1 slideInFromLeft;
  z-index: 3;
  color: #ffffff;
  margin: 0;
  margin-left: 3vw;
  margin-top: 8vh;
  margin-bottom: 3vh;
  text-shadow: 3px 3px 1px black;
}


.bio {
  animation: 1.5s ease-out 0s 1 slideInFromLeft;
  text-align: left;
  margin-top: 2vh;
  margin-left: 3vw;
  width: 75vw;
  color: #ffffff;
  border-radius: 20px;
  padding: 0;
  text-shadow: 3px 3px 1px black;
}


.profilePic {
  width: 150px;
  border-radius: 50%;
  padding: 4px;
  background-color: #ffcdb2;
  border: solid 3px black;
  margin-right: 2vw;
  box-shadow: 10px 10px 5px black;
}

@media only screen and (min-width:1500px) {
  .container {
    margin-top: 0px;
  }
  .overlay {
    background: rgba(57, 57, 57, 0.4);
    z-index: -1;
    width: 100vw;
    height: 93vh;
  }
  .profilePic {
    width: 200px;
  }
  .header {
    font-size: 4.2rem;
  }
  .bio {
    margin-top: 1vh;
    width: 35vw;
  }
  .bio > h3 {
    font-size: 2.5rem;
    margin-top: 2vh;
  }
}

@media only screen and (max-width:850px) {
  .heading{
    margin-top: 275px;
    flex-direction: column;
  }
  .bio {
    text-shadow: 2px 2px 1px black;
  }
}