
.worksContainer {
  animation: 1s ease-out 0s 1 SlideInFromTop;
  margin: 0px 0px 200px;
  display: grid;
  justify-items: center;
  width: 100vw;
  grid-template-columns: repeat(2, 1fr);
}

.loadMessage {
  font-size: 3.5rem;
  color: #ffcdb2;
  text-shadow: 4px 4px 1px black;
  text-align: center;
}

.overlay {
  display: flex;
  justify-content: center;
  margin-top: 0;
  padding-top: 7vh;
  background: rgba(57, 57, 57, 0.4);
  z-index: -1;
  width: 100vw;
  height:93vh;
}

@media only screen and (min-width:1500px) {
  .worksContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width:850px) {
  .worksContainer{
    grid-template-columns: none;
    margin-top: 275px;
  }
}