.worksContainer {
  margin: 50px 0px 150px;
  display: grid;
  justify-items: center;
  width: 100vw;
  grid-template-columns: repeat(3, 1fr);
}

.loadMessage {
  font-size: 3.5rem;
  color: #ffcdb2;
  text-shadow: 4px 4px 1px black;
  text-align: center;
}

@media only screen and (min-width:1500px) {
  .worksContainer {
    grid-template-columns: repeat(5, 1fr);
  }
}