.navContainer {
  display: flex;
  background: rgba(10, 10, 10, 0.9);
  flex-direction: row;
  justify-content: space-around;
  height: 7vh;
  text-align: center;
}

.link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 2.1rem;
  margin-left: 2vw;
  padding: 5px 10px;
  padding-bottom: 5px;
  margin-bottom: 0px;
  color: #ffffff;
  width: 23vw;
}

.link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.link:hover {
  text-decoration: none;
  color: #ffffff;
  font-size: 2.2rem;
  text-shadow: none;
  border-radius: 15px;
}


@media only screen and (min-width:1500px) {
  .navContainer {
    flex-direction: row;
    justify-content: space-around;
    height: 7vh;
    text-align: center;
  }
  .link {
    padding-bottom: 5px;
    margin-bottom: 0px;
    color: #ffffff;
    width: 15vw;
  }
}

@media only screen and (max-width:850px) {
  .link {
    width: 100vw;
    margin-left: 0px;
    background: linear-gradient(45deg, #6f7992 25%, #dfe7fd);
    border-bottom: solid 2px black;
  }
  .navContainer{
    margin-top: 0px;
    top: 0;
    position: fixed;
    z-index: 1;
  }
}